html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bottom-right-button {
  z-index: 102;
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.new-request-form {
  z-index: 101;
  position: absolute;
  background-color: aliceblue;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  
}

.form {
  padding-top: 20%;
  display: flex;
  flex-direction: column;
}

.input {
  padding: 15px 30px;
  margin: 5% 10%;
  border-radius: 10px;
}