html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bottom-right-button {
  z-index: 100;
  position: absolute;
  bottom: 5%;
  right: 3%;
}

.new-request-form {
  z-index: 101;
  position: absolute;
  background-color: aliceblue;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
}